.menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-self: center;
}

@media screen and (min-width: 980px) {
  .menu__list {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1296px) {
  .menu__list {
    gap: 48px;
  }
}
