.page {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
  font-weight: normal;
  /* background-color: #946464; */
  background-color: #f6f3f3;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
