.search {
  display: flex;
  align-items: center;
  align-self: center;
}

@media screen and (min-width: 980px) {
  .search {
    padding-right: 40px;
  }
}

@media screen and (min-width: 1296px) {
  .search {
    padding-right: 0px;
  }
}
