.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

@media screen and (min-width: 980px) {
  .footer__contacts {
    margin: 0;
    flex-direction: row;
    padding-right: 40px;
    align-self: center;
  }
}

@media screen and (min-width: 1296px) {
  .footer__contacts {
    padding-right: 0;
  }
}
